body{
    background-color: black;
}
.containerTop{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    background-color: black;
}
.objetos-centrais{
    display: flex;
    flex-direction: row;
}
.objeto{
    padding: 1em;
    padding-left: 0;
    color: white;
}
.objt{
    font-family: Optima, sans-serif;
    color: rgb(206, 206, 206);
    padding: 1em;
    display: flex;
}
.button{
    background-color: yellow;
    width: 10em;
    height: 4em;
    display: flex;
    align-items: center;
}
.button:hover{
    background-color: rgb(181, 181, 0);
    border: 4px solid yellow;
}
.btn{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.nome{
    font-family: Didot, serif;
    font-size: 1.5em;
}
.containerCenter{
    margin-left: 10%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.frasePrincipal{
    color: white;
    font-size: 3em;
    padding-right: 10%;
    font-family: DejaVu Sans Mono, monospace;
}
.descriçao{
    color: white;
}
.containerEnd{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.h2{
    color: white;
    padding: 1.5em;
    font-size: 2em;
}
img{
    width: 70%;
    margin-left: 10%;
}

h3{
    color: white;
    padding-left: 5em;
}
.h3{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}
.manutençao{
    display: inline-flex;
    flex-direction: row;
}
p{
    color: white;
}
.explicaçao{
    margin-left: 1em;
}
.carousel-inner{
    width: 100% !important;
    background-color: red;
}
.carousel-caption{
    
}
.menu-hover{
    position: absolute;
    display: inline-flex;
    background-color: rgb(21, 20, 20);
    color: white;
    margin-left: 32%;
    height: 9em;
    width: 9em;
    margin-top: -2em;
    border: 3px solid yellow;]
    display: none;
}

.lorem{
    font-size: 15px;
    padding: 10px;
}